.site-bar {
    display: flex;
    width: 700px;
    border: 1px solid red;
    padding: 5px 0;
    justify-content: space-around;
    border-radius: 3px;

    .safe {
        color: green;
    }

    .danger {
        color: red;
    }

    .not-sure {
        color: yellow;
    }

    .check-bh,
    .delete-bh {
        cursor: pointer;
    }
}