.xss-topbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    height: 60px;
    display: flex;
    align-items: center;
    font-family: "Segoe UI";

    .topbar-title {
        font-size: 17px;
        font-weight: 700;

        .sub-title {
            margin-right: 20px;
        }

        .title {
            font-size: 20px;
        }
    }

    .topbar-share {
        .anquan {
            display: flex;
            color: #189e83;
            opacity: .7;

            &:hover {
                opacity: 1;
            }

            a {
                color: #189e83; 
            }
        }

        .visual {
            color: #2ab7d0;
        }
    }
}