@import '../../common/common.less';

.padding-10 {
    padding: 10px;
}

.weakness-list {
    background: @chunk-color;
    width: 300px;

    .list-title {
        color: @title-color;
        .padding-10;

        &::before {
            .triangle;
        }
    }

    .search {
        padding: 0 10px;

        .ipt {
            border: none;
            outline: none;
            background: #f9e7e71a;
            width: 100%;
            padding: 2px 5px;
            color: @title-color;
        }
    }

    .weakness-list-body {
        margin-top: 10px;
        overflow: auto;
        height: 500px;

        &::-webkit-scrollbar {
			width: 2px;
			height: 0px;
        }

        &::-webkit-scrollbar-button {
                display: none;
        }

        &::-webkit-scrollbar-track {
                display: none;
        }

        &::-webkit-scrollbar-thumb {
            background: #f9e7e71a;
            border-radius: 2px;
        }

    }

    
}