.data-analysis {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3e5151; 
    background: -webkit-linear-gradient(to right, #3e5151, #decba4); 
    background: linear-gradient(to right, #3e5151, #decba4); 

    .analysis-container {
        background: rgba(33, 27, 27, 0.3);
        padding: 0 10px;
        color: rgba(255, 255, 255, .7);

        .file-upload,
        .data-arr,
        .chart-panel {
            .title {
                padding-bottom: 10px;
            }

            .upload-container {
                display: flex;

                .analysis-btn {
                    margin-left: 20px;
                }
            }

            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 20px;
        }

        .chart-panel {
            .bar-chart {
                width: 100%;
                height: 300px;
            }
        }
    }

}