@import '../../common/common.less';

.scroll-table {
    background: @chunk-color;
    .padding;

    .list-title {
        margin-bottom: 10px;
        color: @title-color;
        
        &::before {
            .triangle;
        }
    }

    .list-body {
        height: calc(~'100% - 31px');
        overflow: auto;
        padding: 0;
        transition: all 1.5s ease-in;
        margin: 0;

        &::-webkit-scrollbar {
            width: 0;
        }

        li {
            height: 32px;
            list-style-type: none;
            background: rgba(100, 127, 161, .3);
            border-bottom: .5px solid rgba(145, 148, 152, 0.5);
        }
    }
}