.scroll-table {
    border: 1px solid red;

    .list-body {
        height: 110px;
        overflow: auto;
        padding: 0;
        transition: all 1.2s ease-in-out;

        li {
            height: 30px;
            border: .5px solid #bbb;
            list-style-type: none;
        }
    }
}