@theme-color: rgba(0, 0, 0, .2);
@background-color: rgba(58, 69, 86, .9);
@header-color: #fff;

// antd 菜单 开关（折叠、颜色）样式覆盖 
.ant-switch-checked {
    background: @theme-color;
    position: absolute;
    bottom: 33px;
    right: 30px;
}

.ant-btn-primary {
    background: transparent;
    color: rgba(0, 0, 0, 0.65);
    border: none;

    &:hover {
        color: @theme-color;
        background: transparent;
    }
}

.ant-menu {
    height: 100%;
    // padding-top: 150px;
} 

.ant-menu.ant-menu-dark {
    .ant-menu-item-selected {
        color: rgb(255, 255, 255);
        background: @theme-color;
    }
} 

.ant-menu-dark {
    background: @background-color;
    
    .ant-menu-inline.ant-menu-sub {
        background: @theme-color;
    }
}

.ant-menu-item-selected {
    position: relative;

    &::before {
        content: '';
        display: block;
        height: 20px;
        width: 3px;
        background: #ec488c;
        position: absolute;
        left: 0;
        top: 10px;
        box-shadow: 3px 1px 26px 2px #ec488c;
    }
}

.ant-layout-sider {
    background-color: @background-color;
}

.ant-layout-header {
    background-color: @header-color;
}

.side-bar {
    height: 100%;
}