.app {
    display: flex;

    .chart-demo {
        width: 600px;
        height: 400px;
        margin: 30px 0 0 40px;
    }

    .side-menu {
        position: relative;
        height: 100%;
    }
    
    .app-content {
        flex-grow: 1;
    }
}
