@import '../../common/common.less';

.charts-page {
    width: 100%;
    color: @header-color;
    padding:  20px 10px 10px;
    .visual-background;

    .chart-header,
    .chart-wrapper {
        margin-bottom: 20px;
    }

    .chart-wrapper {
        display: flex;
        border: 1px solid red;

        .mid-list {
            width: 300px;
        }

        .mid-chart {
            flex-grow: 1;
        }
    }

    .footer-list-wrapper {
        display: flex;
        display: flex;
        justify-content: space-between;

        .event-facts,
        .level-chart,
        .xss-nubmer-chart,
        .safe-site {
            width: 300px;
            height: 200px;
        }

    }
}