@import '../../common/common.less';

.charts-page {
    width: 100%;
    background: @back-color;
    color: @header-color;
    padding:  20px 10px 10px;

    .chart-wrapper {
        display: flex;
        border: 1px solid red;

        .mid-list {
            width: 300px;
        }

        .mid-chart {
            flex-grow: 1;
        }
    }

    .footer-list-wrapper {
        display: flex;
        border: 1px solid red;

        .footer-list {
            height: 300px;
        }

        .first-list {
            width: 500px;
        }

        .second-list,
        .third-list {
            width: 400px;
        }

        .fourth-list {
            width: 600px;
        }
    }
}